
.container {
    width: 80%;
    margin: 20px auto;
    background: #31302e;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(255, 255, 255, 0.1);
    padding: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
}


a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

button {
    margin-left: 5px;
}
