
.form_container {
    max-width: 800px;
    margin: 40px auto; /* Увеличим отступ сверху */
    padding: 20px;
    background: #31302e;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(255, 255, 255, 0.1);
}

.form_container label {
    display: block; /* Блочный элемент */
    margin-top: 15px; /* Отступ сверху */
    font-weight: bold; /* Жирный шрифт для меток */
    color: #eae0d5; /* Цвет меток */
}

.form_container input,
.form_container textarea {
    width: 90%; /* Занимаем 100% ширины */
    background: #31302e;
    padding: 10px; /* Внутренний отступ */
    margin-top: 5px; /* Отступ сверху */
    border: 1px solid #ccc; /* Граница */
    border-radius: 4px; /* Округление углов */
    font-size: 16px; /* Размер шрифта */
    margin: 29px;
}

.form_container button {
    margin-top: 20px; /* Отступ сверху */
    background-color: #5e503f; /* Цвет кнопки */
    color: #eae0d5; /* Цвет текста */
    border: none; /* Убираем границу */
    padding: 10px 15px; /* Внутренние отступы */
    border-radius: 5px; /* Округление углов */
    cursor: pointer; /* Курсор в виде указателя */
    font-size: 16px; /* Размер шрифта */
    transition: background-color 0.3s; /* Плавный переход цвета */
}

.form_container button:hover {
    background-color: #45a049; /* Цвет кнопки при наведении */
}
