
h1 {
    font-size: 2em;
    text-align: center;
    margin-bottom: 20px;
}

.profile-container {
    max-width: 600px;
    margin: 20px auto;
    background: #31302e;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(255, 255, 255, 0.1);
    padding: 20px;
}

/* Новый блок для обертки изображения и текста */
.profile-wrapper {
    display: flex;
    flex-wrap: wrap; /* Позволяет элементам переноситься */
    align-items: center; /* Центрирование изображения по вертикали */
}

/* Изображение профиля */
.profile-image img {
    flex: 1 1 150px;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-right: 20px; /* Отступ между изображением и текстом */
}

/* Текстовые поля профиля */
.profile-info {
    flex: 1; /* Занимает оставшееся пространство */
}

.profile-info p {
    margin: 10px 0;
  color: #eae0d5;
}

button, a {
    background-color: #5e503f; /* Цвет кнопки */
    color: #eae0d5; /* Цвет текста */
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    text-decoration: none;
    display: inline-block;
    transition: background-color 0.3s, transform 0.2s;
}

button:hover {
    background-color: #c6ac8f; /* Цвет кнопки */
    color: #0a0908; /* Цвет текста */
    transform: scale(1.05);
}

.button-container {
    text-align: center;
    margin-top: 20px;
}

.button-container form {
    display: inline; /* Чтобы кнопка удалить была рядом с ссылкой на главную */
}

.button-container a {
    margin-right: 10px; /* Отступ между кнопками */
}

.reviews-section {
    margin-top: 30px;

}

.review-form {
    margin-bottom: 20px;
}

.reviews-list {
    margin-top: 20px;
}

.review {
    margin-bottom: 15px;
    padding: 10px;

    border: 1px solid #0a0908;
    border-radius: 5px;
    background-color: #5e503f; /* Цвет кнопки */
}

.review p {
    margin: 5px 0;
    color: #eae0d5;
}

.review .review-date {
    font-size: 0.9em;
    color: #666;
}
.rating {
    display: flex;
    direction: row;
    justify-content: center;
    gap: 5px;
}
.star {
    font-size: 2rem;
    color: lightgray;
    cursor: pointer;
    transition: color 0.2s;
}
.star:hover,
.star.active {
    color: gold;
}
.star:hover ~ .star {
    color: lightgray;
}