@import url('base.css');

body {
 /* Светлый фоновый цвет для контраста */
   /* Универсальный шрифт */
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 2em;
    color: #333; /* Темный текст для контраста */
    text-align: center;
    margin-top: 20px; /* Отступ сверху для заголовка */
}

form {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Легкая тень для объема */
    padding: 20px;
    max-width: 500px;
    margin: 20px auto; /* Центрируем форму на странице */
}

button {
    background-color: #35424a;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    font-size: 1em;
    font-weight: bold;
    cursor: pointer;
    display: block;
    margin: 20px auto 0;
    max-width: 200px;
    text-align: center;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #45a049; /* Изменение цвета кнопки при наведении */
}

textarea, input[type="text"] {
    width: 100%;
    padding: 12px;
    margin-top: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1em;
    box-sizing: border-box;
    transition: border 0.3s ease;
}

textarea:focus, input[type="text"]:focus {
    border-color: #35424a; /* Цвет рамки при фокусе */
    outline: none; /* Убираем стандартный контур браузера */
}

input[type="file"] {
    margin-top: 15px;
}

.profile-image {
    text-align: center; /* Центрируем изображение */
    margin-top: 20px;
}

.profile-image img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Тень для изображения */
}

input[type="file"] {
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    border-radius: 5px;
    background-color: #f0f4f8;
    border: 1px dashed #ccc; /* Стили для файла */
    cursor: pointer;
}

input[type="file"]:hover {
    border-color: #35424a;
}

button {
    max-width: 300px;
    margin-left: auto;
    margin-right: auto;
}
.form-group {
    display: flex;
    justify-content: center; /* Центрируем содержимое */
    margin-top: 20px;
}

input[type="file"] {
    display: block; /* Делаем элемент блочным */
    width: 100%; /* Ширина 100% внутри контейнера */
    max-width: 300px; /* Максимальная ширина файла */
    padding: 10px;
    border-radius: 5px;
    background-color: #f0f4f8;
    border: 1px dashed #ccc;
    cursor: pointer;
    text-align: center; /* Текст внутри инпута также выровнен */
}

input[type="file"]:hover {
    border-color: #35424a;
}

button {
    width: 100%;
}

/* Кнопка возврата */
button.back-button {
    background-color: #ccc;
    color: #333;
    font-size: 0.9em;
    margin-top: 10px;
}

button.back-button:hover {
    background-color: #bbb;
}
