
h1 {
    font-size: 2em;
    margin-top: 40px;
}

.table_container {
    max-width: 1000px;
    margin: 20px auto;
    background: white;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

.table_wrapper {
    max-height: 70vh; /* Ограничиваем высоту таблицы */
    overflow-y: auto; /* Добавляем прокрутку только для таблицы */
    margin-top: 20px; /* Отступ между полем поиска и таблицей */
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 12px;
    text-align: left;
    border: 1px solid #ddd;
}

th {
    background-color: #35424a;
    color: white;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

/* Поле для поиска */
input[type="text"] {
    width: 90%;
    margin-bottom: 15px;
    padding: 8px;
    border-radius: 4px;
    display: block;
    margin: 0 auto;
}

/* assets/styles/index.css */

/* Стили для ссылки, чтобы она выглядела как текст */
.vacancy-link {
    color: inherit; /* Наследовать цвет текста от родителя */
    text-decoration: none; /* Убрать подчеркивание */
}

/* Стили при наведении */
.vacancy-link:hover {
    text-decoration: underline; /* Подчеркивание при наведении */
    cursor: pointer; /* Изменение курсора на указатель */
}


/* Стиль для модального окна */
#modal {
    display: none; /* Скрываем модал по умолчанию */
    position: fixed; /* Зафиксировано на экране */
    left: 0;
    top: 0;
    width: 100%; /* Полная ширина экрана */
    height: 100%; /* Полная высота экрана */
    background-color: rgba(0, 0, 0, 0.5); /* Полупрозрачный черный фон */
    z-index: 1000; /* Поверх остальных элементов */
}

.modal-content {
    background-color: white; /* Белый фон для контента */
    padding: 20px;
    border-radius: 8px; /* Закругленные углы */
    max-width: 500px; /* Максимальная ширина модалки */
    margin: 100px auto; /* Центрируем модал */
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2); /* Тень для глубины */
}

.modal-header {
    font-size: 1.5em; /* Размер заголовка */
    margin-bottom: 20px; /* Отступ снизу */
}

.modal-footer {
    display: flex; /* Флекс-контейнер для кнопок */
    justify-content: flex-end; /* Выравнивание по правому краю */
}

#okButton {
    background-color: #007BFF; /* Цвет кнопки */
    color: white; /* Цвет текста */
    border: none; /* Без границы */
    border-radius: 5px; /* Закругленные углы */
    padding: 10px 20px; /* Отступы внутри кнопки */
    cursor: pointer; /* Указатель при наведении */
    transition: background-color 0.3s; /* Плавный переход цвета */
}

#okButton:hover {
    background-color: #0056b3; /* Цвет кнопки при наведении */
}




/* Style the dropdowns */
select {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-left: 10px;
    cursor: pointer;
    transition: border-color 0.3s;
}

/* Add hover effect */
select:hover {
    border-color: #007bff;
}