
.edit_application_container {
    max-width: 600px; /* Максимальная ширина контейнера */
    margin: 20px auto; /* Центрирование по горизонтали */
    padding: 20px; /* Отступы внутри контейнера */
    background: white;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

/* Заголовок редактирования отклика */
.edit_application_container h1 {
    font-size: 24px; /* Размер шрифта заголовка */
    margin-bottom: 15px; /* Отступ снизу */

}

/* Текстовое поле для сопроводительного письма */
.edit_application_container textarea {
    width: 80%; /* Ширина текстового поля на 100% */
    padding: 10px; /* Внутренние отступы */

    resize: vertical; /* Разрешаем изменение размера только по вертикали */
    font-size: 16px; /* Размер шрифта */

}

/* Кнопка для сохранения изменений */
.edit_application_container input[type="submit"] {
    background-color: #35424a;
    color: #fff; /* Цвет текста кнопки */
    border: none; /* Без рамки */
    border-radius: 8px; /* Скругление углов */
    padding: 10px 15px; /* Внутренние отступы */
    cursor: pointer; /* Курсор при наведении */
    transition: background-color 0.3s; /* Плавный переход цвета */
    margin-top: 10px; /* Отступ сверху */
}

/* Эффект при наведении на кнопку */
.edit_application_container input[type="submit"]:hover {
    background-color: #45a049;
}



