/* index.css */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    width: 100%;
    max-width: 800px;
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
}

h1 {
    color: #333;
    text-align: center;
}

form {
    margin-bottom: 20px;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input.error-input {
    border-color: red;
}

button,
input[type="submit"] {
    background-color: #28a745; /* Зеленый цвет */
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    width: 100%;
    box-sizing: border-box;
    display: inline-block; /* Для выравнивания кнопок в одной строке */
}

button:hover,
input[type="submit"]:hover {
    background-color: #218838; /* Темно-зеленый цвет при наведении */
}

button:disabled,
input[type="submit"]:disabled {
    background-color: #c6c6c6; /* Серый цвет для неактивной кнопки */
    cursor: not-allowed;
}

.error {
    color: red;
    display: block;
    margin-top: 5px;
}

.form-actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.form-actions .button,
.form-actions #submitBtn {
    width: 45%;
    background-color: #007bff; /* Синий цвет для кнопки "Перейти к списку пользователей" */
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 4px;
    text-align: center;
    text-decoration: none;
}

.form-actions .button:hover {
    background-color: #0056b3; /* Темно-синий цвет при наведении */
}

.form-actions #submitBtn {
    background-color: #28a745; /* Зеленый цвет для кнопки "Добавить пользователя" */
}

.form-actions #submitBtn:hover {
    background-color: #218838; /* Темно-зеленый цвет при наведении */
}
