
form {
    background: #31302e;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(255, 255, 255, 0.1);
    padding: 20px;
    max-width: 500px;
    margin: 20px auto; /* Центрируем форму на странице */
}

form button {
    font-size: 1em;
    font-weight: bold;
    cursor: pointer;
    display: block;
    margin: 20px auto 0;
    max-width: 200px;
    text-align: center;
    transition: background-color 0.3s ease;
}
label {
    margin-bottom: 5px;
    color: #eae0d5;
}

form button {
    max-width: 300px;
    margin-left: auto;
    margin-right: auto;
}
.form-group {
    display: flex;
    justify-content: center; /* Центрируем содержимое */
    margin-top: 20px;
}

input[type="file"] {
    display: block; /* Делаем элемент блочным */
    width: 100%; /* Ширина 100% внутри контейнера */
    max-width: 300px; /* Максимальная ширина файла */
    padding: 10px;

    border-radius: 8px;

    background-color: #f0f4f8;
    border: 1px dashed #ccc;
    cursor: pointer;
    text-align: center; /* Текст внутри инпута также выровнен */
}

input[type="file"]:hover {
    border-color: #35424a;
}

/* Кнопка возврата */
button.back-button {
    background-color: #ccc;
    color: #333;
    font-size: 0.9em;
    margin-top: 10px;
}

button.back-button:hover {
    background-color: #bbb;
}
.file-upload-label {
    display: inline-block;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
    position: relative;
}

.file-upload-label .label-text {
    font-size: 16px;
    font-weight: bold;
    transition: color 0.3s ease, text-shadow 0.3s ease;
}

.file-upload-label:hover .label-text {
    color: #fff;
    text-shadow: 0px 0px 10px rgba(255, 255, 255, 0.8); /* Подсветка текста */
}

.file-upload-label:active .label-text {
    color: #ffd700; /* Цвет текста при нажатии */
}

.file-upload-label:hover {
    background-color: #45a049; /* Изменение фона при наведении */
}

.file-upload-label:active {
    background-color: #388e3c; /* Цвет фона при нажатии */
}

.image-preview {
    position: absolute;
    top: 50%;
    right: -40px;  /* Отступ от правого края лейбла */
    transform: translateY(-50%);
    width: 40px;  /* Размер изображения */
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
    border: 2px solid #fff; /* Белая рамка вокруг картинки */
    background-color: #f0f0f0; /* Цвет фона, если нет изображения */
}

.image-preview img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Подгоняет изображение, чтобы оно заполнило круг */
}
